$color-red: #B80000;
$color-black: #000000;
$color-gray:#B1AEAE;
$color-gray-light: #F0F0F0;
$color-white: #fff;

$color-primary: $color-red;
$color-secondery: $color-gray;
$color-content: $color-black;