@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
header .navbar {
  padding: 10px !important;
  border-bottom: 1px solid #B1AEAE;
  background-color: #fff;
}
header .navbar-brand {
  font-size: 30px;
  font-weight: 400;
  color: #B80000;
}
header .navbar a.nav-link {
  color: #000000;
  font-size: 20px;
  transition: all 0.3s ease;
  margin-right: 20px;
}
header .navbar a.nav-link:hover {
  color: #B80000;
  text-decoration: underline;
}
header .navbar input[type=search] {
  border-color: #B1AEAE;
  border-radius: 5px;
}
header .navbar .navbar__login {
  margin-left: 8px;
  position: relative;
  cursor: pointer;
}
header .navbar .navbar__login i.fa-user {
  color: #B1AEAE;
}
header .navbar .navbar__login .navbar__login-container {
  width: 250px;
  height: 80px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(42%) translateY(20%);
  background-color: #fff;
  border: 1px solid #B1AEAE;
  border-radius: 10px;
  transition: all 0.3s ease;
  visibility: hidden;
}
header .navbar .navbar__login .navbar__login-container::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -14%;
  transform: rotate(45deg);
  border-top: 1px solid #B1AEAE;
  border-left: 1px solid #B1AEAE;
  background-color: #fff;
}
header .navbar .navbar__login .navbar__login-container a {
  font-size: initial;
}
header .navbar .navbar__login:hover .navbar__login-container {
  visibility: visible;
}
header .navbar form {
  align-items: center;
}
header .navbar form a i.fa-magnifying-glass {
  color: #B80000;
  font-size: 32px;
}
header .header__news {
  margin-top: 96px;
}
header .header__news #NewsCarousel::after {
  content: "";
  width: 20px;
  height: 200px;
  background-color: #B80000;
  position: absolute;
  left: -10px;
  top: 150px;
}
header .header__news .carousel-item:hover h5 {
  text-decoration: underline;
}
header .header__news .carousel-item .carousel__title {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px 10px 70px;
}
header .header__news .carousel-item .carousel__title h5 {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 22px;
  position: relative;
}
header .header__news .carousel-item .carousel__title h5::after {
  content: "";
  width: 5px;
  height: 85px;
  background-color: #B80000;
  position: absolute;
  top: -10px;
  left: 250px;
}
header .header__news .carousel-indicators {
  right: initial;
  left: -7%;
}
header .header__news .carousel-indicators button {
  width: 20px;
  height: 20px;
  line-height: 15px;
  display: block;
  color: #000000;
  text-indent: 0;
}
header .header__news .header__news-sideCards .list {
  margin-bottom: 40px;
}

.article__category {
  background-color: #B80000;
  color: #fff;
  padding: 5px 10px;
  margin-left: 10px;
  text-decoration: none !important;
}

.article__title {
  font-size: 20px;
  display: inline;
}

a.article__link img {
  width: 100%;
}
a.article__link {
  text-decoration: none;
  color: #000;
}
a.article__link:hover .article__title {
  text-decoration: underline;
}

section.news {
  padding: 48px 0;
}
section.news .section__body img {
  max-height: 170px;
}
section.news .section__btn {
  text-align: center;
  margin-top: 48px;
}

.most-read {
  background-color: #F0F0F0;
  padding: 50px;
}
.most-read .card__news {
  background-color: #fff;
  padding: 50px;
  margin: 30px;
}
.most-read .card__text .article__title {
  display: block;
  font-size: 30px;
}
.most-read .card__text p {
  font-size: 14px;
  margin: 35px auto;
}
.most-read .card__text time {
  color: #B1AEAE;
  font-size: 16px;
}
.most-read .card__img {
  position: relative;
  margin-bottom: 20px;
}
.most-read .card__img::after {
  content: "";
  width: 250px;
  height: 30px;
  background-color: #B80000;
  position: absolute;
  bottom: -15px;
  right: 80px;
}

.opinions {
  padding: 50px;
}
.opinions .opinions__card {
  background-color: rgba(184, 0, 0, 0.3);
  padding: 20px 10px;
  margin-top: 25px;
  transition: all 0.3s ease;
}
.opinions .opinions__card h5.article__title {
  display: block;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.opinions .opinions__card .user__info {
  margin-top: 25px;
}
.opinions .opinions__card .user__info img {
  width: 100px;
  clip-path: circle();
}
.opinions .opinions__card .user__info span {
  font-size: 18px;
  color: #B80000;
  font-weight: bold;
}
.opinions .opinions__card:hover {
  background-color: rgba(184, 0, 0, 0.6);
}

section.videos {
  background-color: #000000;
  padding: 50px;
}
section.videos .section__title {
  color: #fff;
}
section.videos .slide__img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
  position: relative;
}
section.videos .slide__img i {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 60px;
}
section.videos .slide__text {
  margin-top: 40px;
}
section.videos .slide__text .article__title {
  color: #fff;
}
section.videos .swiper {
  padding: 20px 0 50px;
}
section.videos .swiper-pagination {
  bottom: -5px;
}
section.videos .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #B1AEAE;
  margin: 10px;
}

section.latest-news {
  padding: 50px;
}
section.latest-news .card__text p {
  color: #000000;
  margin: 10px 0;
}

footer {
  padding-bottom: 40px;
}
footer .footer__title {
  position: relative;
  margin-bottom: 30px;
}
footer .footer__title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #B80000;
  right: 0;
  bottom: -15px;
}
footer .link-unstyled {
  color: #000000;
  text-decoration: none;
}
footer .link-unstyled:hover {
  color: rgb(10, 88, 202);
}
footer .social-media {
  padding: 0;
  list-style: none;
  text-align: center;
}
footer .social-media-icon {
  display: inline;
  margin: 10px;
}
footer .social-media-icon img {
  width: 40px;
}
footer .footer__brand {
  color: #B80000;
  font-size: 30px;
  margin: auto;
  text-decoration: none;
}
footer .footer__brand:hover {
  color: rgb(10, 88, 202);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Almarai", sans-serif !important;
}

.btn--custom {
  font-size: 20px;
  color: #fff;
  background-color: #B80000;
  padding: 2px 30px;
  transition: all 0.3s ease;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #B80000;
}
.btn--custom:hover {
  background-color: #fff;
  color: #B80000;
  border: 1px solid #B80000;
}

.section__title {
  line-height: 50px;
  color: #000000;
  position: relative;
  margin-bottom: 60px;
  margin-right: 32px;
}
.section__title::before {
  content: "";
  width: 15px;
  height: 100%;
  background-color: #B80000;
  position: absolute;
  right: -30px;
  top: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
