@use '../config/colors.scss' as colors;

footer {
  padding-bottom: 40px;
  .footer__title {
    position: relative;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 5px;
      background-color: colors.$color-primary;
      right: 0;
      bottom: -15px;
    }
  }

  .link-unstyled {
    color: colors.$color-black;
    text-decoration: none;

    &:hover {
      color: rgba(10 , 88, 202, 1);
    }
  }

  .social-media {
    padding: 0;
    list-style: none;
    text-align: center;
    &-icon {
      display: inline;
      margin: 10px;
      img {
        width: 40px;
      }
    }
  }

  .footer__brand {
    color: colors.$color-primary;
    font-size: 30px;
    margin: auto;
    text-decoration: none;
    &:hover {
      color: rgba(10 , 88, 202, 1);
    }

  }
}