@use '../config/colors.scss' as colors;

section.news {
  padding: 48px 0;
  .section__body {
    img {
      max-height: 170px;
    }
  }
  .section__btn {
    text-align: center;
    margin-top: 48px;
  }
}