@use '../config/colors.scss' as colors;

@use '../utilities/spacing.scss' as spaces;



section.news {
  padding: spaces.spacing(wide) 0;
  .section__body {
    img {
      max-height: 170px;
    }
  }
  .section__btn {
    text-align: center;
    margin-top: spaces.spacing('wide');
  }
}